{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial;
    background: #eef1f6;
    color: #333;
    line-height: 1.5;
}
.header {
    background: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.title {
    color: #4455ee;
}

.nav a {
    margin-left: 15px;
    text-decoration: none;
    color: #333;
}

.nav a:hover {
    color: #4455ee;
}
.hero {
    text-align: center;
    padding: 60px 20px;
    background: #dfe3fb;
}
.hero h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    margin-bottom: 20px;
}
.btn {
    background: #4455ee;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background: #2d36c7;
}
.section {
    padding: 40px 20px;
    text-align: center;
}
.feature-boxes {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.box {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 6px;
    border: 1px solid #ddd;
}
.form {
    max-width: 45    0px;
    margin: auto;
    text-align: left;
}
.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
.footer {
    background: #23283e;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}
